/* css styles */

body {
    font-family: 'Lato', sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(255,255,255,.1);
}

.navbar-brand, .nav-link {
    color: #fff !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #aaa !important;
}

.quarto-title-banner {
    background-color: #111;
    color: #fff;
}

.quarto-grid-item {
    background-color: #111;
    border: 1px solid #333;
    border-radius: .25rem;
    padding: 1.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(255,255,255,.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.quarto-grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255,255,255,.1);
}

.quarto-grid-item .card-title a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.quarto-grid-item .card-title a:hover {
    color: #aaa;
}

.quarto-grid-item .card-text {
    color: #aaa;
}

.page-link {
    background-color: #222;
    color: #fff;
    border: 1px solid #333;
}

.page-item.active .page-link {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
