/* css styles */

/* Override Bootstrap and Quarto CSS variables to use black instead of grey */
:root {
    --bs-navbar-brand-color: #000000;
    --bs-navbar-brand-hover-color: #000000;
    --bs-body-color: #000000;
    --bs-link-color: #000000;
    --bs-link-hover-color: #000000;
}

.navbar-dark {
    background-color: white;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #000000;
    background: transparent;
}

.quarto-title-banner h1,
.quarto-title-banner .h1,
.quarto-title-banner h2,
.quarto-title-banner .h2 {
    color: #000000;
}

.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;
}

.page-link {
    color: #000000;
}

.page-action-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.page-action-buttons .btn {
    min-width: 170px;
}

/* Override grey text colors in posts and other elements */
div.quarto-post a,
div.quarto-post .metadata,
.quarto-categories,
.quarto-category,
a.quarto-category,
.navbar-brand,
.nav-link,
.listing-title a,
.listing-description,
.listing-author,
.listing-date,
body,
p,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
a {
    color: #000000 !important;
}
