/* css styles */

.navbar-dark {
    background-color: white;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #000000;
    background: transparent;
}

.quarto-title-banner h1,
.quarto-title-banner .h1,
.quarto-title-banner h2,
.quarto-title-banner .h2 {
    color: #000000;
}

.page-item.active .page-link {
    background-color: #605e5e;
    border-color: #605e5e;
}

.page-link {
    color: #605e5e;
}

.page-action-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.page-action-buttons .btn {
    min-width: 170px;
}
