name: Render and Publish Quarto Project

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: '1.6.43'

      - name: Install dependencies
        run: |
          npm install

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Render Quarto Project (PRs)
        if: github.event_name == 'pull_request'
        run: make render

      - name: Render and Publish Quarto Project (Main Branch)
        if: github.event_name != 'pull_request'
        run: make all
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for broken links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --base '_site' --no-progress '_site/**/*.html'
          fail: true

